# Neovim
.config/nvim/lazy-lock.json

# Cache and telemetry directories
.config/go/telemetry/
.config/github-copilot/versions.json

# Config directories to ignore
.config/QtProject/
.config/Thunar/
.config/btop/
.config/dconf/
.config/discord/
.config/lsfg-vk/
.config/pulse/
.config/xdg-desktop-portal/
.opencode/

# Sunshine credentials
.config/sunshine/
.config/sunshine/*

# Newly added ignores for portability
.config/unity3d/
.config/wslu/
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/partitionmanagerrc
.config/nwg-displays/config
.config/nvim/doc/tags

# Additional ignored items
.config/.mangojuice
.config/MangoHud/
.config/cachyos-hello.json
.config/cachyos/
.config/dolphinrc
.config/octopi/
.config/vkBasalt/
.config/mimeapps.list
.config/kitty/current-theme.conf

# Bolt launcher
.config/bolt/
.config/bolt-launcher/


# Firefox/Mozilla
.mozilla/
.config/mozilla/
