:root {
	/* Catppuccin Mocha color palette */
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-blue: #89b4fa;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-text: #cdd6f4;
	--ctp-mocha-subtext1: #bac2de;
	--ctp-mocha-subtext0: #a6adc8;
	--ctp-mocha-overlay2: #9399b2;
	--ctp-mocha-overlay1: #7f849c;
	--ctp-mocha-overlay0: #6c7086;
	--ctp-mocha-surface2: #585b70;
	--ctp-mocha-surface1: #45475a;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-mantle: #181825;
	--ctp-mocha-crust: #11111b;

	/* sizes */
	--height: 80px;
	--bar-margin-y: 0rem;
	--bar-margin-x: 0rem;

	/* fonts */
	--font-default: Inconsolata Nerd Font Mono;
	/* --font-default: Courier New; */
	--font-size: 12px;
	--font-weight: 500;

	/* border */
	--border-size: 2px;
	--radius: 0rem;

	/* colors */
	--text: var(--ctp-mocha-text);
	/* --bg: var(--ctp-mocha-base); */
	--bg: 0 0% 0%; /* pure black override */
	--border: var(--ctp-mocha-overlay0);
	--border-focused: var(--ctp-mocha-green);
	--ws-base: var(--ctp-mocha-surface1);
	--ws-base-text: var(--text);
	--ws-hover: var(--ctp-mocha-surface2);
	--ws-hover-text: var(--text);
	--ws-focused: var(--ctp-mocha-green);
	--ws-focused-text: var(--ctp-mocha-crust);
	--ws-displayed: var(--ctp-mocha-mantle);
	--ws-displayed-text: var(--ws-base-text);

	--cpu-high-usage: var(--ctp-mocha-red);
	--memory-high-usage: var(--ctp-mocha-red);
}
